/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

html, body {
  margin: 0;
  background-color: #353A26;
  font-family: serif;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nowrap {
  display: inline-block;
}

nav {
  height: 56px;
  line-height: 56px;
  background-color: #353A26;
  display: flex;
  border-bottom: solid 1px rgba(53, 58, 38, 0.5);
}

.nav-title {
  padding: 10px 8px;
  flex-shrink: 0;
  color: rgba(163, 156, 112, 0.87);
  font-size: 25px;
  cursor: pointer;
}

.nav-bg {
  flex-grow: 1;
  background-image: url('../public/nav-bg.png');
  background-size: cover;
}

main {
  background-color: #f7f7f7;
  padding: 10px 8px;
  flex-grow: 1;
}

main div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer {
  height: 40px;
  background-image: url('../public/nav-bg.png');
  background-size: cover;
  border-top: solid 1px rgba(53, 58, 38, 0.5);
}

.welcome-description {
  font-size: small;
  padding: 3px 6px;
  background-color: rgba(163, 156, 112);
  color: rgba(53, 58, 38, 0.87);
  border-top: solid 1px rgb(53, 58, 38);
  border-bottom: solid 1px rgba(53, 58, 38);
  text-align: right;
}

.page-heading {
  font-size: 1.5em;
  color: rgba(163, 156, 112 ,0.87);
  cursor: pointer;
}

.card {
  background-color: white;
  border: 1px solid rgba(163, 156, 112 ,0.87);
  border-left: 4px solid rgba(163, 156, 112 ,0.87);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2), 0px 1px 1px rgba(0,0,0,0.14), 0px 2px 1px rgba(0,0,0,0.12);
}

.card-title {
  background-color: rgba(163, 156, 112, 0.87);
  color: rgba(0, 0, 0, 0.87);
  padding: 4px 6px;
}

.card-content {
  padding: 0 8px;
  color: rgba(0,0,0,0.87);
}

.card h2 {
  font-size: 18px;
  margin: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-inline-start: 25px;
}

.dl__docs dd {
  font-size: 0.8em;
}

.dl__docs i.tiny {
  vertical-align: text-top;
  font-size: tiny;
}
